//- ---------------------
//-     INLINE SVG
//- ---------------------
include ./inline-svg/svg-logo
include ./inline-svg/svg-waves
include ./inline-svg/svg-planes
include ./inline-svg/svg-stairs
include ./inline-svg/svg-fly
