//- ---------------------
//-     INLINE SVG
//- ---------------------
include ./inline-svg/svg-logo
include ./inline-svg/svg-waves
include ./inline-svg/svg-planes
include ./inline-svg/svg-stairs
include ./inline-svg/svg-fly
include ./inline-svg/svg-hand
include ./inline-svg/svg-line
include ./inline-svg/svg-menu


//- ----------------------------------------------

//- ---------------------
//-     COMPONENTS
//- ---------------------
include ./components/update
include ./components/price-card

//- ----------------------------------------------

//- ---------------------
//-     LAYOUT
//- ---------------------
include ./layout/header
include ./layout/footer