.btn {
  font-size: $font-size-medium;
  padding: 1rem 3rem;
  border: none;
  @include brr(0.5);
  font-weight: $font-weight-bold;
  text-align: center;
  cursor: pointer;
  @include trans(0.8, $easing: cubic-bezier(0.2, 0.8, 0.2, 1));

  &:focus,
  &:hover {
    transform: translateY(-3px);
    opacity: 0.85;
  }

  &--dark {
    background-color: $color-dark;
    box-shadow: 0px 5px 10px rgba(255, 163, 148, 0.1);
    color: $color-white;
  }

  &--cta {
    @include absolute(bottom -2.3rem);

    @include respond-below(768px) {
      position: relative;
      width: 100%;
      margin-top: 4rem;
    }
  }
}
