.price-card {
  position: relative;
  display: inline-block;

  &__face {
    @include size(28, 32);
    @include trans(0.5);
    border: 1px solid $color-primary-styled-border;

    &--1,
    &--2 {
      position: relative;
      display: flex;
      @include flex-center;
      background: $color-white;
    }

    &--1 {
      z-index: 1;
      transform: translateY(50%);
      padding-top: 1.5rem;
    }

    &--2 {
      padding: 1rem;
      box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
      transform: translateY(-50%);
    }
  }

  &__content {
    text-align: center;
  }

  &__icon {
    background: $color-primary-icon-bg;
    padding: 2rem;
    @include brr(50%);
  }

  &__header,
  &__price,
  &__currency {
    font-family: $font-family-secondary;
    color: $color-primary-dark;
    font-weight: $font-weight-light;
    @include trans;
  }

  &__header {
    margin: 2rem 0;
    font-size: $font-size-heading-tertiary;
    color: $color-brown;
  }

  &__price-container {
    display: flex;
    justify-content: center;
  }

  &__price,
  &__currency {
    display: inline-block;
  }

  &__price {
    font-size: 8rem;
    margin-top: 1rem;
  }

  &__currency {
    font-size: 5rem;
    margin-right: 0.1em;
  }

  &__list {
    margin-bottom: 1rem;
  }

  &__item {
    font-size: $font-size-medium;
    padding: 0.5em 0;
  }

  svg {
    transform: scale(1);
    @include trans;

    path {
      @include trans;
    }

    circle {
      stroke: $color-primary-icon-bg;
    }
  }

  // Functionality
  &:hover &__face--1,
  &:hover &__face--2 {
    transform: translateY(0);
  }

  &:hover &__face--1 {
    background: $color-primary-dark;
  }

  &:hover &__header,
  &:hover &__currency,
  &:hover &__price {
    color: $color-white;
  }

  &:hover svg {
    transform: scale(1.35);

    path,
    rect {
      fill: $color-white;
    }

    path.bg {
      fill: transparent;
    }

    circle {
      stroke: $color-primary-dark;
    }
  }

  @include respond-below-nohover(lg) {
    &__face {
      &--1,
      &--2 {
        transform: translateY(0);
      }

      &--1 {
        background: $color-primary-dark;
      }
    }
    &__header,
    &__currency,
    &__price {
      color: $color-white;
    }

    svg {
      path,
      rect {
        fill: $color-white;
      }

      path.bg {
        fill: transparent;
      }

      circle {
        stroke: $color-primary-dark;
      }
    }

    .btn {
      @include min-w(20);
    }
  }
}
