// ***** BASIC RESET *****
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// ----------------------------------------------

// ***** GLOBAL DEFINITION OF 1rem *****
html {
  font-size: 62.5%; // ~10px
}

// ----------------------------------------------

body {
  box-sizing: border-box;
  // background: linear-gradient(to left, $color-1, $color-2);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}

.container {
  max-width: $container-width;
  background: linear-gradient(to left, $color-primary-light, $color-primary);
  margin: 0 auto;
}
