// FONTS IMPORT
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

// ----------------------------------------------

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: $font-weight-bold;
  margin: 0;
  line-height: $line-height-heading;
}

.heading-primary {
  font-size: $font-size-heading-primary;

  @include respond-below(md) {
    font-size: $font-size-heading-primary--mobile;
    text-align: center;
  }

  &--brown {
    color: $color-brown;
  }
}

.heading-secondary {
  font-size: $font-size-heading-secondary;

  @include respond-below(md) {
    font-size: $font-size-heading-secondary--mobile;
  }
}

.heading-tertiary {
  font-size: $font-size-heading-tertiary;

  @include respond-below(md) {
    font-size: $font-size-heading-tertiary--mobile;
  }
}

.heading-small {
  font-size: $font-size-medium;
}

.paragraph {
  font-size: $font-size-medium;
  color: $color-dark;
  margin-top: 5rem;
  line-height: $line-height-paragraph;

  @include respond-below(md) {
    @include max-w(28);
  }
}
