.pricing {
  text-align: center;

  &__header {
    margin-bottom: 3rem;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 30rem 35rem 30rem 1fr;
    grid-template-areas: '. left girl right .';
    margin-top: 26rem;

    // Only for the animation
    visibility: hidden;

    @include respond-below(lg) {
      margin-top: 0;
      grid-template-columns: 1fr 30rem 6rem 30rem 1fr;
      grid-template-areas: '. left . right .';
    }

    @include respond-below(md) {
      display: flex;
      flex-direction: column;
      @include flex-center;
    }
  }

  .price-card {
    &--1,
    &--2 {
      margin-top: -23rem;

      @include respond-below(lg) {
        margin-top: 0;
        margin-bottom: 5rem;
      }
    }
    &--1 {
      grid-area: left;
      justify-self: end;
    }

    &--2 {
      grid-area: right;
    }
  }

  &__girl {
    grid-area: girl;
    margin-bottom: 5rem;
    position: relative;

    @include respond-below(lg) {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      @include size(70, 1px);
      background: $color-primary-dark;
      @include absolute(bottom -1px left 50%);
      transform: translateX(-50%);
    }

    img {
      display: block;
    }
  }
}
