.updates {
  display: grid;
  grid-template-areas:
    'draw update'
    'draw update2';
  grid-template-columns: 20% 1fr;

  @include respond-below(lg) {
    grid-template-columns: 1fr;
    margin: 0 4rem;
  }

  &__aside {
    grid-area: draw;

    @include respond-below(lg) {
      display: none;
    }
  }

  &__main {
    margin-left: 3.5rem;

    @include respond-below(lg) {
      margin: 0 auto;
    }
  }

  &__input {
    grid-area: update;
    display: flex;
    flex-direction: column;
    @include ja-content(space-between, center);
    height: 30rem;

    @include respond-below(lg) {
      margin-bottom: 8rem;
    }
  }

  &__articles {
    grid-area: update2;
    margin: 8rem 2rem 2rem;

    @include respond-below(lg) {
      margin: 0;
    }
  }
}
