// ***** COLORS *****
$color-primary-light: #ffe1d1;
$color-primary: #ffdbca;
$color-primary-dark: #ff8989;

$color-primary-styled: #ff7676;
$color-primary-styled-border: #f8d1be;

$color-black: #000000;

$color-white: #ffffff;

$color-brown: #6a4a39;
$color-brown-light: #b39889;

$color-dark: #333333;

$color-light-grey: #fffcfb;

// ----------------------------------------------

// ***** FONTS *****
$font-family-primary: 'Alegreya', serif;
$font-family-secondary: 'Roboto', sans-serif;

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// ----------------------------------------------

// ***** FONT SIZES *****
$font-size-x-small: 1.2rem;
$font-size-small: 1.3rem;

$font-size-base: 1.6rem;

$font-size-medium: 2rem;

$font-size-logo: 3rem;

$font-size-heading-primary: 6rem;
$font-size-heading-secondary: 4rem;
$font-size-heading-tertiary: 3rem;

$font-size-heading-primary--mobile: 4rem;
$font-size-heading-secondary--mobile: 3.5rem;
$font-size-heading-tertiary--mobile: 2.8rem;

// ----------------------------------------------

// ***** LINE HEIGHTS *****
$line-height-paragraph: 1.4;
$line-height-heading: 1.16;

// ----------------------------------------------

// ***** MEASURES *****
$nav-links-margin-v: 4.7rem;
$nav-links-margin-h: 4.5rem;
$container-width: 144rem;
