mixin svg-news-bg
  svg.news__bg(width='1440', height='1706', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M1032.5 1h-4.5c-14.63 30.026-111.5 83.665-259.5 61.721-148-21.943-358.5 37.903-334.019 330.152C445.68 526.563 517.5 545.481 517.5 686.12c0 148.978-322.015 217.226-397.5 237.39-75.485 20.164-111.9 26.088-164 24.936V1706h1488V495.609s-241 81.79-436 29.924c-195-51.867-284-112.711-347-157.596-63-44.884-84-166.073-20.5-236.393 62.241-68.925 111-47.877 187-47.877 111 0 201.21-67.552 205-82.667z', fill='#FFF3EE')
    path(d='M1033.5 1.387h-4.5c-14.63 30.104-113.5 88.88-261.5 66.88s-336.5 33-312.019 326c11.199 134.033 83.019 153 83.019 294 0 149.36-322.015 235.784-397.5 256-75.485 20.216-111.9 26.154-164 25v727.003h1488V397.267s-223.5 71-431.5 64-288.5-47-351.5-92-84-166.5-20.5-237c62.241-69.102 111-48 187-48 111 0 181.21-67.726 185-82.88z', fill='url(#paint0_linear)', stroke='#FF8989', stroke-width='1.099')
    defs
      lineargradient#paint0_linear(x1='721', y1='1.387', x2='721', y2='1506.27', gradientunits='userSpaceOnUse')
        stop(stop-color='#FFA394', stop-opacity='.82')
        stop(offset='1', stop-color='#FFDCCA', stop-opacity='.8')
