//- PUG INCLUDES
include ./includes/main

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Letter
    meta(name="description", content="")
  body
    .container
      header.header
        .header__logo
          +svg-logo
          span.header__letter Letter
        nav
          ul.header__nav-list
            - const navLinks = ['Plugins', 'Pricing', 'Log in', 'Free Trial'];
            for item, index in navLinks
              li.header__nav-item
                a.header__nav-link(class=`${(index+1) === navLinks.length ? "header__nav-link--styled" : "" }`,href="#")= item
      
      .container
        .hero
          .hero__container
            +svg-waves
            img(src=require("./img/lamp.png")).hero__lamp
            .hero__cta
              h2.heading-primary Email for Designers
              p.paragraph Dynamic email tool for creators that doesn't cost a leg. Works with Sketch, Figma and XD. Easily import your content and send with your favorite API.
              button.btn.btn--dark.btn--cta Start Free Trial
            .hero__sun
              img(src=require("./img/sun.png")).sun
            +svg-planes

