//- PUG INCLUDES
include ./includes/main

//- -----------------------------------

//- DATA
- const updates = require("./js/data/updates.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Letter
    meta(name="description", content="")
  body
    .container
      //- Header with logo and navigation
      +header

      .updates  
        aside.updates__aside
          .hand
            //- Hand SVG
            +svg-hand
            //- Line group
            +svg-line
      
        //- Main content
        main.updates__main
          .updates__input
            .updates__input__header.u-text-center
              h1.heading-primary.heading-primary--brown.u-margin-top-big Updates
              h2.heading-small.u-margin-top-small Stay in the know
            form(method="POST").flex-form
              input.flex-form__input(type='search' placeholder='Be the first to know')
              input.flex-form__submit(type='submit' value='Submit')
          .updates__articles
            for update in updates
              +update(update)
      
      +footer